:root{
    --background: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--background);
    color: white;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}

.container{
    width: 100%;
    padding: 1.5% 4%;
}

/* HEADER */

header{
    position: relative;
    z-index: 2;
}

header .container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0));
    transition: background-color .5s;
}

header .header-black{
    background-color: var(--background);
    
}

header .logo-nav{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

header .logo-nav .logo{
    width: 15%;
    min-width: 80px;
}

header .logo-nav .logo img{
    width: 100%;
    display: flex;
    align-items: center;
}

header .logo-nav nav{
    margin-left: 7%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 7%;
}

header .logo-nav nav a,
header .logo-nav p{
    color: white;
    font-size: .9rem;
    cursor: pointer;
    white-space: nowrap;
    transition: color .4s;
}

header .logo-nav nav a:hover{
    color: rgb(190, 190, 190);
}

header .logo-nav .tablet i{
    font-size: .7rem;
    padding-left: 5px;
}

header .logo-nav .tablet{
    display: none;
    justify-content: center;
    
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

header .logo-nav .tablet .menu{
    display: none;
    background-color: black;
    padding: 2% 8%;
    text-align: center;
    border-top: 3px solid white;
    position: absolute;
    z-index: 4;
    top: 50px;
    margin: 0;
}

header .logo-nav .tablet .menu a{
    display: block;
    padding: 20% 0;
}

.display-iblock{
    display: inline-block !important;
}


header .utilities{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 25px;
    align-items: center;
}

header .utilities i{
    cursor: pointer;
    font-size: 1.2rem;
}

header .utilities form{
    display: flex;
    align-items: center;
}

header .utilities input[type=search]{
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 1%;
    padding-left: 13%;
    margin: 0;
    max-width: 250px;
    width: 100%;
    display: none;
    transition: 1s;
}

.position{
    position: relative;
    left: 12%;
    transition: 1s;
}

/* MAIN */  

main .container{
    position: relative;
    z-index: 2;
    height: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.4) 100%);
}

main .banner-main{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

main .banner-main .img-banner{
    width: 100%;
    height: 100%;
}

main .banner-main img.banner{
    position: absolute;
    width: 100%;
    
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0), rgba(0,0,0,0));
}


main .view{
    width: 40%;
    margin-top: 18%;
    margin-bottom: 6%;

    position: relative;
    z-index: 3;
}

main .view .title h1{
    font-size: 2.5rem;
    text-shadow: 0.1em 0.1em 0.3rem rgba(0, 0, 0, 0.4);

}

main .view .title p{
    padding: 3% 0;
    font-size: 1rem;
    text-shadow: 0.1em 0.1em 0.3rem black;
}

main .view .buttons{
    display: flex;
}

main .view .buttons button{
    padding: 2% 5%;
    border-radius: 4px;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}

main .view .buttons button.play{
    background-color: white;
}

main .view .buttons button.info{
    background-color: rgba(109,109,110,0.7);
    color: white;
    margin-left: 1%;
}

main .view .buttons button:hover{
    filter: brightness(85%);
}

main .view .buttons button i{
    padding-right: 6px;
    font-size: 1.3rem;
}

/* LIST */

.list-wrapper{
    position: relative;
}

.list-wrapper .list-single{
    margin-bottom: 5%;
}

.list-wrapper .list-single h3{
    font-size: 1rem;
    margin-bottom: 1.5%;
}

.list-single .carousel,
.list-single .carousel-films{
    width: 100%;
}

.list-single .carousel img,
.list-single .carousel-films img{
    margin: .3%;
    cursor: pointer;
}

.box-film{
    height: 100%;
    width: 100%;
}



/* dots */
.slick-dots li.slick-active button:before{
    color: white !important;
    font-size: .5rem !important;
}

.slick-dots li button:before{
    color: white !important;
    font-size: .4rem !important;
}

/* RESPONSIVO */

@media screen and (max-width: 1024px){
    main .view{
        width: 50%;
    }
}

@media screen and (max-width: 885px){    
    /* HEADER */

    header .logo-nav .desktop{
        display: none;
    }
    
    header .logo-nav .tablet{
        display: flex;
    }
    
    /* MAIN */  
    
    main .view{
        width: 60%;
        margin-top: 7%;
    }
    
    main .view .title h1{
        width: 80%;
        font-size: 2rem;
    }
    
    main .view .title p{
        font-size: .9rem;
    }
    
    main .view .buttons button{
        padding: 2% 3%;
        font-size: .8rem;
    }
    
    main .view .buttons button i{
        padding-right: 3px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 650px){ 
    header .utilities{
        grid-gap: 15px;
    }

    header .utilities i{
        font-size: 1rem;
    }

    /* MAIN */
    
    main .banner-main .banner{
        display: none;
    }
    
    main .view{
        display: none;
    }

    main  .list-wrapper{
        padding-top: 10%;
    }
}